doctype html
html(lang='en')
  head
    title Tesco Portal Login - Shift Swap
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Login To the Tesco portal on Shift Swap')
    meta(name='keywords', content='Shift, Swap, Tesco, Portal, Colleague ')

    meta(name='author', content='H.M. Media')
    link(rel='stylesheet', href='Assets/CSS/bootstrap.min.css')
    link(rel='stylesheet', href='Assets/CSS/fontawesome-all.min.css')
    link(rel='stylesheet', href='Assets/CSS/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:900|Roboto')
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')

  body
    #loginForm
      img.logo(src="Assets/Images/Logo.jpg", alt="Shift Swap Logo")
      .row
        .form.col-lg-6.offset-lg-3.col-md-8.offset-md-2
          h1 Tesco Shift Swap Portal
          .row
            .col-10.offset-1.col-md-8.offset-md-2.StoreID
              h6 Store ID
              input#StoreID(name="StoreID" type="text")
              p.error
            .col-10.offset-1.col-md-8.offset-md-2.UserID
              h6 User ID
              input#UserID(name="UserID" type="text")
              p.error
            .col-10.offset-1.col-md-8.offset-md-2.Password
              h6 Password
              input#Password(name="Password" type="password")
              p.error
              .showPW
                input#showPW(type="checkbox" value="Show")
                p Show Password
          .row
            .col-6
              button#Signup Sign Up
            .col-6
              button#Login Login
          a(href="#") Forgot Password
    footer
      script(src='Assets/JS/jquery-3.3.1.min.js')
      script(src='Assets/JS/bootstrap.min.js')
      script(src='Assets/JS/js-dist.js')